<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid col-md-4 col-md-offset-4">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"  th:text="#{firma.nimi}">firma.nimi</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a th:href="@{/}"  th:text="#{registreeru.menuu}">registreeru.menuu</a>
            </li>
            <li class="active">
                <a th:href="@{/calendar}" th:text="#{aja.kava}">aja.kava</a>
            </li>
            <li>
                <a th:href="@{/search}" th:text="#{otsing}">otsing</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h1 class="page-header col-md-4 col-md-offset-4" th:text="#{aja.kava}">
        aja.kava
    </h1>
</div>



<div class="container">

    <table class="table table-hover table-striped">
        <thead class="thead-inverse">
        <tr>
            <th th:text="#{hambaarsti.nimi}">
                hambaarsti.nimi
            </th>
            <th th:text="#{hambavisiidi.kuupaev}">
                hambavisiidi.kuupaev
            </th>
            <th th:text="#{perearsti.nimi}">
                perearsti.nimi
            </th>
            <th th:text="#{perevisiidi.kuupaev}">
                perevisiidi.kuupaev
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${regs}">
            <td th:text="${visit.dentistName}"></td>
            <td th:text="${visit.dentistVisitTime}"></td>
            <td th:text="${visit.gpName}"></td>
            <td th:text="${visit.gpVisitTime}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>