<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

    .bootstrap-iso form button, .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }</style>

    <script>
        function retrieveGuests() {
            var url = '/th-spring-integration/spring/guests';

            if ($('#searchSurname').val() != '') {
                url = url + '/' + $('#searchSurname').val();
            }

            $("#resultsBlock").load(url);
        }
    </script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid col-md-4 col-md-offset-4">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" th:text="#{firma.nimi}">firma.nimi</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a th:href="@{/}" th:text="#{registreeru.menuu}">registreeru.menuu</a>
            </li>
            <li>
                <a th:href="@{/calendar}" th:text="#{aja.kava}">aja.kava</a>
            </li>
            <li class="active">
                <a th:href="@{/search}" th:text="#{otsing}">otsing</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h1 class="page-header col-md-4 col-md-offset-4" th:text="#{otsing}">
        otsing
    </h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <!--/*@thymesVar id="query" type="ee.pardiralli.dto.PublicSearchQueryDTO"*/-->
            <form class="form-horizontal public-search" th:action="@{/search}" th:object="${query}" method="post">

                <div class="form-group">
                    <label class="control-label " for="dentistName" th:text="#{hambaarsti.nimi}">hambaarsti.nimi</label>

                    <input id="dentistName" name="dentistName" type="text" class="form-control"
                           th:field="*{dentistName}"/>
                    <small class="help-inline" style="color: #737373;" th:if="${#fields.hasErrors('dentistName')}"
                           th:errors="*{dentistName}">Nime viga
                    </small>
                </div>
                <div class="form-group">
                    <label class="control-label " for="gpName" th:text="#{perearsti.nimi}">perearsti.nimi</label>

                    <input id="gpName" name="gpName" type="text" class="form-control" th:field="*{gpName}"/>
                    <small class="help-inline" style="color: #737373;" th:if="${#fields.hasErrors('gpName')}"
                           th:errors="*{gpName}">Nime viga
                    </small>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-md-offset-3 col-sm-6 col-md-9">
                        <input type="submit" class="btn btn-default" value="Otsi"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--/*@thymesVar id="results" type="java.util.List<ee.pardiralli.dto.PublicSearchResultDTO>"*/-->
    <div th:if="${results?.size() > 0}">
        <span>
            <div class="container">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-inverse">
                    <tr>
                        <th th:text="#{hambaarsti.nimi}"></th>
                        <th th:text="#{perearsti.nimi}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="res : ${results}">
                        <td th:text="${res.getGpName()}"></td>
                        <td th:text="${res.getDentistName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </span>
    </div>

</div>


</body>
</html>